.about {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    margin-top: 110px;
}

.about__header {
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: -0.04em;
    margin: 0 70px 0 70px;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    padding-bottom: 23px;
}

.about__project {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-right: 70px;
    margin-left: 70px;
}

.about__list {
    max-width: 550px;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.about__list:first-child {
    margin-right: 40px;
}

.about__big {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: -0.04em;
}

.about__small {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    margin-top: 26px;

}

.about__diagram {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 110px;
    margin-right: 70px;
    margin-left: 70px;
    max-width: 1280px;
}

.about__element {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.about__week {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
}

.about__week-back {
    background-color: rgba(61, 220, 132, 1);
    color: rgba(0, 0, 0, 1);
}

.about__week-front {
    background-color: rgba(48, 48, 48, 1);
}

.about__web {
    margin: 0;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(139, 139, 139, 1);
    margin-top: 14px;
    margin-bottom: 110px;
}

@media screen and (max-width: 768px) {
    .about {
        max-width: 768px;
        margin-top: 90px;
    }

    .about__header {
        margin: 0 50px 0 50px;
    }

    .about__project {
        margin-right: 50px;
        margin-left: 50px;
    }
    
    .about__list {
        max-width: 319px;
    }
    
    .about__list:first-child {
        margin-right: 30px;
    }
    
    .about__small {
        font-size: 12px;
        line-height: 18px;
        margin-top: 22px;
    
    }
    
    .about__diagram {
        grid-template-columns: 1fr 4fr;
        margin-top: 93px;
        margin-right: 50px;
        margin-left: 50px;
        max-width: 768px;
    }

    .about__web {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 400px) {
    .about {
        margin-top: 70px;
    }

    .about__header {
        margin: 0 18px 0 18px;
        font-size: 18px;
        line-height: 21.78px;
        padding-bottom: 28px;
    }

    .about__project {
        margin-right: 18px;
        margin-left: 18px;
        flex-direction: column;
        margin-top: 60px;
    }
    
    .about__list {
        max-width: 319px;
    }
    
    .about__list:last-child {
        margin-top: 56px;
    }
    
    .about__big {
        font-size: 18px;
        line-height: 21.78px;
    }

    .about__small {
        font-size: 11px;
        line-height: 16px;
        margin-top: 16px;
    
    }
    
    .about__diagram {
        grid-template-columns: 1fr 2fr;
        margin-top: 60px;
        margin-right: 18px;
        margin-left: 18px;
        max-width: 284px;
    }

    .about__web {
        margin-bottom: 69px;
        font-size: 11px;
        line-height: 13.31px;
        margin-top: 10px;
    }

    .about__week {
        font-size: 11px;
        line-height: 13.31px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
}
