.movies-card {
    max-width: 360px;
    min-height: 319px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(34, 34, 34, 1);
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
}

.movies-card__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 18px;
}

.movies-card__header {
    margin: 0;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
}

.movies-card__time {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    color: rgba(139, 139, 139, 1);
}

.movies-card__poster {
    object-fit: cover;
    position: relative;
    cursor: zoom-in;
    height: 200px;
    max-width: 360px;
}

.movies-card__button {
    width: 100px;
    height: 29px;
    background-color: rgba(49, 49, 49, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 11px;
    color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    border: none;
    margin: 18px auto;
}